#formulario{
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
}

.btn{
    margin: 10px;
    padding: 10px 20px;
    background-color: #4FD1C5;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;

    &:hover{
        background-color: #1F3B4D;
    }
}